/* ==========================================================================
   bloc / components
   ========================================================================== */

.bloc {
    display: flex;
    align-items: center;
    border: 3px var(--color-primary) solid;
    padding: 20px;
    box-sizing: border-box;
    background: var(--color-white);
    transition: 0.4s all ease-out;
    font-size: #{typo(32px, 60px)};

    &:hover {
        background: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
    }
}
