/* ==========================================================================
   default / Ne pas jouer dans ce fichier SCSS
   ========================================================================== */

.header {
  padding: 40px 0;
  text-align: center;
  h1 {
    font-size: 4rem;
    span {
      color: var(--color-primary);
    }

    &:after {
      width: 20%;
      height: 5px;
      background: var(--color-white);
      content: "";
      display: block;
      margin: 40px auto 0;
    }
  }
}

.number {
  padding: 150px 0;
  &:nth-child(odd) {
    background: #111;
  }
  .number__header {
    text-align: left;
    img {
      display: block;
      margin: 50px auto 0;
    }
  }
  h2 {
    color: var(--color-primary);
    margin: 0;
  }
  p {
    margin: 0;
  }

  i {
    color: var(--color-primary);
    display: block;
  }
  .rules {
    text-align: left;
    margin-top: 20px;
    h4 {
      margin-bottom: 20px;
    }
    p {
      font-weight: bold;
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        &::before {
          content: "";
          background: var(--color-primary);
          width: 6px;
          height: 6px;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
  .number__content {
    // padding-top: 50px;
    position: relative;

    &::before {
      width: 10%;
      height: 5px;
      background: var(--color-primary);
      content: "";
      display: block;
      margin: 50px auto;
    }
  }
  .number__capture {
    margin: 20px 0;
    width: 50%;
  }
}
.number__header > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 50px;
}
