/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-md;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: $breakpoint-md) {
        padding: 0 var(--spacing-md);
    }
}
