<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CW3 - Semaine 09 - Swiper JS</title>

        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <section class="exercice">
            <div class="wrapper">
                <h1>.:: Introduction à la librairie Swiper JS</h1>

                <section class="number" id="num01">
                    <div class="number__header">
                        <h2>01 - La base</h2>
                    </div>
                    <div class="number__content">{% include "_partials/swiper/_ex01.html" %}</div>
                </section>
                <section class="number" id="num02">
                    <div class="number__header">
                        <h2>02 - La pagination</h2>
                    </div>
                    <div class="number__content">{% include "_partials/swiper/_ex02.html" %}</div>
                </section>
                <section class="number" id="num03">
                    <div class="number__header">
                        <h2>03 - La navigation</h2>
                    </div>
                    <div class="number__content">{% include "_partials/swiper/_ex03.html" %}</div>
                </section>
                <section class="number" id="num04">
                    <div class="number__header">
                        <h2>04 - Loop</h2>
                    </div>
                    <div class="number__content">{% include "_partials/swiper/_ex04.html" %}</div>
                </section>
                <section class="number" id="num05">
                    <div class="number__header">
                        <h2>05 - Expérimentation</h2>
                    </div>
                    <div class="number__content">{% include "_partials/swiper/_ex05.html" %}</div>
                </section>
            </div>
        </section>
    </body>
</html>
